<script setup lang="ts">
defineProps<{
  name: string;
  src: string;
}>();
</script>

<template>
  <v-card class="ma-2" max-width="400">
    <v-img class="align-end text-white" height="200" :src="src" cover> </v-img>

    <v-card-subtitle class="pt-4"> {{ name }} </v-card-subtitle>

    <v-card-actions>
      <v-btn color="orange"> Add to order </v-btn>

      <!-- <v-btn color="orange"> Explore </v-btn> -->
    </v-card-actions>
  </v-card>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
